.App {
  text-align: center;
}

.box{
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 30px 30px;
  border: 1px solid black;
}
.multi {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
label {
  background-color: gray;
  color: white;
}